<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>App Opener Testing</title>
</head>
<body>
    <h1>Testing App Opener</h1>
    <h3>Method 1</h3>
    <a href="http://instagram.com/_u/iamsrk/">Link to Instagram Page</a>
    <h3>Method 2</h3>
    <a href="instagram://user?username=iamsrk">Link to Instagram Profile</a>
    <h3>Method 3</h3>
</body>
</html>