<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <script defer src="http://localhost:8000/socket.io/socket.io.js"></script>
    <script defer src="/clientprivate" type="module"></script>
    <title>Private view</title>
</head>
<body>
    <h1>This is private view</h1>
    <button id="setBlack">Set Black</button>
    <button id="setRed">Set Red</button>
    <button id="setGreen">Set Green</button>
    <button id="setBlue">Set Blue</button>
    <button id="setParty">Set Party</button>
    <button id="insta">Open Instagram</button>
    <button id="youtube">Open YouTube</button>
</body>
</html>